<p>Text open tag </a>should be <b>skipped. <span style="color:red" onclick="alert('hello!')">Second <i>sentence</span>.
And the</b> third</i>.
With an orphan <img src="foo.gif"> placeholder<u> and done.</p>
